<section class="card">
  <a href="/video/{{id}}">
    <header>{{title}}</header>
    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{title}}">
      <p>By: Landon Hinkle</p>
    </div>
  </a>
</section>