{{#if loggedIn}}
<section class="service">
  <img src="/images/{{service.filename}}" alt="{{service.service_name}}">
  <div class="painting-details">
    <h3>{{service.service_name}}</h3>
    <p>By: Landon Hinkle</p>
    <p>Exhibition open until: Further Notice!</p>
  </div>
</section>
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}